*{
  margin:0;
  padding:0;
  box-sizing: border-box
}
.first{
  width:100%;
  height: 200px;
  background-image: url(chapter6-img/box1.jpg);
  background-size:cover;
  background-position: center;
}
.second{
  width:100%;
  height: 200px;
  background-image: url(chapter6-img/box2.jpg);
  background-size:cover;
  background-position: center;
}
.third{
  width:100%;
  height: 200px;
  background-image: url(chapter6-img/box3.jpg);
  background-size:cover;
  background-position: center;
}
.fourth{
  width:100%;
  height: 200px;
  background-image: url(chapter6-img/box4.jpg);
  background-size:cover;
  background-position: center;
}